<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRAKTIKA4.Properties.Settings.AVIACASSA2ConnectionString"
            connectionString="Data Source=DESKTOP-NJJG4G8\SQLEXPRESS;Initial Catalog=AVIACASSA2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>